@font-face {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
}

.slider-pink {
  background-color: #feafc3;
}

.slider-blue {
  background: #69a9ff;
}

.slider-yellow {
  background: #fcc850;
}

.page-wrapper {
  width: 1170px;
  margin: 0 auto;
}

.button {
  text-decoration: none;
  color: #2D3440;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #fcfcfc;
  padding: 12px 32px;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.main-header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  column-gap: 17px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  line-height: 20px;
}

.navigation-left {
  display: flex;
  margin-right: auto;
}

.logo-wrapper {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 16px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 410px;
  flex-wrap: wrap;
  display: flex;
  align-items: flex-start;
  /*чтоб не росло при переполении*/
  list-style: none;
}

.navigation-user-list {
  margin: 0;
  padding: 0;
  width: 451px;
  flex-wrap: wrap;
  display: flex;
  align-items: flex-start;
  column-gap: 16px;
  margin-top: 33px;
  list-style: none;
}

.navigation-item {
  padding: 8px 16px;
  margin-top: 33px;
}

.navigation-link {
  text-decoration: none;
  color: #2D3440;
}

.navigation-item-select {
  padding-right: 42px;
}

.navigation-user-link {
  text-decoration: none;
  color: #2D3440;
}

.navigation-link-tel {
  font-weight: 700;
  text-decoration: none;
  color: #2D3440;
  line-height: 20px;
  padding: 7px 22px;
  display: block;
}

.navigation-item-search {
  background-color: rgba(252, 252, 252, 0.3);
  padding: 10px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
}

.navigation-item-login {
  background-color: rgba(252, 252, 252, 0.3);
  padding: 6px 16px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
}

.navigation-item-cart {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  font-size: 14px;
  line-height: 20px;
}

.svg-in {
  padding-right: 8.33px;
}

.navigation-link-login {
  margin-left: 8px;
}

.navigation-link-cart {
  margin-left: 6px;
}

/* main  slider*/
.slider {
  margin-bottom: 80px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 70px;
}

.slider-item {
  display: flex;
}

.slider-item-active .slider-text-wrapper {
  display: block;
}

.slider-item:not(.slider-item-active) {
  margin-left: 75px;
}

.slider-text-wrapper {
  display: none;
  width: 470px;
  padding-top: 136px;
}

.slider-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.07em;
  margin: 0;
  margin-bottom: 24px;
}

.slider-desc {
  width: 429px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.04em;
  padding-top: 5px;
  margin: 0;
  margin-bottom: 48px;
}

.slider-img-wrapper {
  width: 66px;
  height: 150px;
  opacity: 0.4;
  margin: 0 auto;
  position: relative;
}


.slider-item-active .slider-img-wrapper {
  width: 327px;
  height: 507px;
  opacity: 1;
  padding-top: 21px;
}

.slider-img {
  width: 100%;
  height: auto;
}

.pink-bg {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #ffcbd8;
  opacity: 0.4;
  border-radius: 50%;
  left: calc(50% - 100px/2);
  top: calc(50% - 100px/2);
}

.button-white {
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.slider-link {
  text-decoration: none;
  color: #2D3440;
}

.slider-pagination-button {
  position: relative;
  border: 2px solid;
  color: #fff;
  border-radius: 50%;
  background: transparent;
  width: 38px;
  height: 38px;
}

.slider-preview {
  left: 530px;
  top: -275px;
}

.slider-nex {
  left: 811px;
  top: -275px;
}

.slider-pagination {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 52px;
  justify-content: space-between;
}

.bullet {
  width: 12px;
  height: 12px;
  background-color: #fcfcfc;
  opacity: 0.3;
}

.slider-pagination-button-current {
  background-color: #fff;
}

.social-list {
  width: 104px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

/* free-gifts section */
.free-gifts {
  width: 100%;
  margin-bottom: 81px;
}

.free-gifts-title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin-bottom: 55px;
}

.free-gift-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 30px;
}

.free-gift-item {
  width: 570px;
  display: flex;
  background-color: #ff7799;
  border-radius: 16px;
}

.free-gift-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 38px;
  padding-bottom: 38px;
  padding-top: 38px;
  justify-content: space-between;
}

.free-gift-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.free-gift-desc {
  margin: 0;
}

/* catalog */
.catalog {
  margin-bottom: 80px;
}

.catalog-title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  width: 588px;
  margin-bottom: 107px;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 91px 30px;
}

.catalog-item-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  position: relative;
}

.catalog-img {
  border-radius: 50%;
  position: absolute;
  left: -41px;
  top: -54px;

}

.catalog-item {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  border-radius: 8px;
  background-color: #fcfcfc;

}

.catalog-item-title {
  align-self: center;
  margin: 0;
  color: #2D3440;
  margin-bottom: 8px;
  margin-top: 135px;
}

.catalog-item-desc {
  width: 190px;
  margin: 0;
  margin-bottom: 16px;
}

.catalog-item-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 24px;
}

.catalog-item-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.catalog-item-button svg {
  border: 1px solid #ff2f64;
  background-color: #ff2f64;
  padding: 8px 11px;
  border-radius: 26px;
}

/* about */
.about {
  background: url("../images/сео-bg.jpg") repeat;
  border-radius: 16px;
  padding: 22px;
  margin-bottom: 80px;
}

.about-wrapper {
  background-color: #fcfcfc;
  border-radius: 16px;
  padding: 60px 17px;
}

.about-title {
  width: 995px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: -0.08em;
  margin-bottom: 57px;
}

.about-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 505px 505px;
  gap: 40px 35px;
}

.about-item-desc {
  margin: 0;
  padding-left: 88px;
}

.new-mail-wrapper {
  display: flex;
  column-gap: 30px;
  margin-bottom: 80px;
}

/* newsletter */
.newsletter {
  width: 570px;
  background: url("../images/news.jpg") no-repeat;
  border-radius: 16px;
  padding-left: 32px;
  padding-top: 33px;
  padding-bottom: 68px;
}

/*переполнение??? */
.news-title {
  width: 303px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding-top: 13px;
}

.news-text {
  width: 200px;
  margin: 0;
  line-height: 20px;
}

/* mailing */
.mailing {
  width: 570px;
  border-radius: 16px;
  background: url("../images/subscription.jpg") no-repeat;
  padding: 6px;
}

.mailing-wrapper-white {
  background: #ffffff;
  border-radius: 16px;
  padding: 26px;
}

.mailing-text {
  margin: 0;
  width: 506px;
  margin-bottom: 42px;
}

.mailing-form {
  width: 506px;
  display: flex;
  justify-content: space-between;
}

.button-red {
  display: block;
  text-decoration: none;
  color: #fcfcfc;
  padding: 12px 32px;
  background: #ff2f64;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.input-mail {
  line-height: 20px;
  color: #b9b9b9;
  padding: 14px;
  padding-right: 160px;
  padding-left: 16px;
  border: #b9b9b9 1px solid;
  margin-right: 18px;
}

::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
}

/* delivery */
.delivery {
  background: url("../images/delivery.jpg") no-repeat;
  display: flex;
  padding-left: 102px;
  border-radius: 16px;
  margin-bottom: 80px;
  padding-right: 64px;
}

.delivery-form-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
  column-gap: 16px;
  row-gap: 20px;
}

.delivery-about {
  width: 371px;
  margin-right: 135px;
  margin-top: 165px;
}

.delivery-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  width: 365px;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-bottom: 24px;
}

.delivery-text {
  margin: 0;
  margin-bottom: 163px;
  font-size: 16px;
  line-height: 22px;
}

.delivery-form {
  background-color: #fcfcfc;
  width: 500px;
  margin-top: 64px;
  padding: 40px;
}

.delivery-form .button-red {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 42px;
}

.delivery-form input {
  padding: 14px 16px;
  display: block;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}

.delivery-form label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.delivery-form-date {
  width: 117px;
}

.delivery-form-text {
  margin: 0;
  margin-bottom: 32px;
}

.delivery-form-tel {
  width: 287px;
}

.delivery-form-address {
  width: 420px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.delivery-data {
  display: block;
}

/* contact */
.contact {
  width: 1170px;
  background: url("../images/feedback.jpg") no-repeat;
  display: flex;
  border-radius: 16px;
  padding-left: 64px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.contact-wrapper {
  background-color: #fcfcfc;
  width: 343px;
  padding: 40px;
  box-sizing: border-box;
}

.contact-text {
  margin: 0;
  padding: 0;
  color: #565C66;
}

.contact-button {
  display: inline;
  margin-bottom: 40px;
}

.contact-address {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
}

.contact-tel {
  margin: 0;
  margin-bottom: 12px;
}

.tel {
  text-decoration: none;
  color: rgb(45, 52, 64);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.contact-time {
  color: #565C66;
  margin: 0;
  margin-bottom: 32px;
}

/* footer */
.main-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.footer-documents {
  width: 332px;
}

.footer-documents-list {
  list-style: none;
}

.footer-documents-link {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  line-height: 20px;
}

.about-text {
  font-size: 12px;
  line-height: 16px;
}

.footer-documents-list {
  display: grid;
  grid-template-columns: 150px 185px;
  column-gap: 24px;
  margin: 0;
  padding: 0;
}

.footer-documents-list .current {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.footer-documents-link {
  font-size: 14px;
  line-height: 20px;
}

.htmlacademy-link {
  color: inherit;
}

/* catalog */
.catalog-main {
  margin-bottom: 32px;
}

.bread-crumbs-list {
  width: 400px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 28px;
}

.bread-crumbs-link {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.bread-crumbs-item .current {
  font-weight: 700;
  text-decoration: underline;
}

.bread-crumbs-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin-top: 40px;
}

/* filter  */
.filter {
  margin-bottom: 95px;
}

.catalog-filter {
  width: 830px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 44px;
}

.catalog-filter-list {
  list-style: none;
  display: flex;
}

.checkbox {
  background-color: #fcfcfc;
  ;
}

.catalog-filter-group {}

/* catalog-pagination */
.pagination-wrapper {
  display: flex;
  margin-top: 57px;
}

.pagination-catalog-list {
  width: 260px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
  column-gap: 8px;
}

.pagination-catalog-item .pagination-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.catalog-pagination-current {
  display: block;
  width: 24px;
  height: 24px;
  background-color: #FCFCFC;
  border-radius: 50%;
  text-align: center center;
}

.pagination-show-more {
  margin-left: auto
}

.catalog-pagination-prev {
  display: block;
  background-image: url("../images/arrow-left-catalog.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
}

.catalog-pagination-next {
  display: block;
  background-image: url("../images/arrow-right-catalog.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
}

.catalog-list {}
