@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
}

.slider-pink {
  background-color: #feafc3;
}

.slider-blue {
  background: #69a9ff;
}

.slider-yellow {
  background: #fcc850;
}

.page-wrapper {
  width: 1170px;
  margin: 0 auto;
}

.button {
  text-decoration: none;
  color: #2D3440;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-clip: padding-box;
  background-color: #fcfcfc;
  padding: 12px 28px;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.main-header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  column-gap: 17px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  line-height: 20px;
  margin-bottom: 24px;
}

.navigation-left {
  display: flex;
  margin-right: auto;
}

.logo-wrapper {
  margin-top: 24px;
  margin-right: 16px;
}

.navigation-list {
  margin: 35px 0 0;
  padding: 0;
  width: 430px;
  flex-wrap: wrap;
  display: flex;
  align-items: flex-start;
  list-style: none;
}

.catalog-select {
  appearance: none;
  border-style: none;
  background-color: inherit;
  color: #2D3440;
  /* background: url("../images/header/arrow-down.svg") no-repeat; */
}

.catalog-select option {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #2D3440;
  padding: 6px 16px;
}

option[value=""] {
  font-size: 16px;
  line-height: 20px;
}

.catalog-select:hover {
  background: rgba(252, 252, 252, 0.5);
}

.navigation-user-list {
  margin: 0;
  padding: 0;
  width: 439px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 13px;
  margin-top: 36px;
  list-style: none;
}

.navigation-item {
  padding: 6px 16px;
}

.navigation-item:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-link:focus {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  border-radius: 30px;
  outline: none;
}

.navigation-item:active {
  background: #FCFCFC;
  border-radius: 30px;
}

.navigation-link {
  text-decoration: none;
  color: #2D3440;
}

avigation-link .navigation-user-item:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 27px;
}

.navigation-user-item:focus {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  border-radius: 27px;
}

.navigation-user-item:active {
  background: #FCFCFC;
  border-radius: 27px;
}

.navigation-item-select {
  padding-right: 19px;
}

.navigation-user-item:not(.navigation-link-tel) .navigation-user-link {
  position: relative;
}

.navigation-item-search .navigation-user-link svg {
  position: absolute;
  top: -3px;
  right: -23px;
  color: #2D3440;
  /* fill: #2D3440; */
}


/* .navigation-item-login .navigation-user-link svg {
  position: absolute;
  top: -1px;
  right: -21px;
} */

.navigation-user-item SVG {
  margin-right: 8px;
}

.navigation-user-link {
  text-decoration: none;
  color: #2D3440;
}

.navigation-link-tel {
  font-weight: 700;
  text-decoration: none;
  color: #2D3440;
  line-height: 20px;
  padding: 6px 6px;
  display: block;
}

.navigation-item-search {
  background-color: rgba(252, 252, 252, 0.3);
  padding: 10px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
}

.navigation-item-login {
  background-color: rgba(252, 252, 252, 0.3);
  padding: 6px 18px;
  border-radius: 30px;
  font-size: 14px;
  line-height: 20px;
}

.navigation-link-login,
.navigation-link-cart {
  display: flex;
  align-items: center;
}

.navigation-item-cart {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  font-size: 14px;
  line-height: 20px;
}

.svg-in {
  padding-right: 8.33px;
}

/* main  slider*/
.slider {
  margin-bottom: 76px;
  position: relative;
  outline: #fc50bd 2px solid;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  padding-left: 70px;
  align-items: center;
}

.slider-item {
  display: flex;
}

.slider-item-active .slider-text-wrapper {
  display: block;
}

.slider-item:not(.slider-item-active) {
  margin-left: 54px;
}

.slider-text-wrapper {
  display: none;
  width: 470px;
  padding-top: 132px;
}

.slider-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin: 0;
  margin-bottom: 24px;
  overflow-x: hidden;
}

.slider-desc {
  width: 429px;
  font-size: 18px;
  line-height: 24px;
  padding-top: 1px;
  margin: 0 0 58px;
  overflow-x: hidden;
}

.slider-img-wrapper {
  width: 93px;
  height: 150px;
  opacity: 0.4;
  margin: 0 auto;
  position: relative;
  margin-top: 32px;
}

.slider-item-active .slider-img-wrapper {
  width: 329px;
  height: 507px;
  opacity: 1;
  margin-top: 17px;
}

.slider-img {
  width: 100%;
  height: auto;
}

.slider-link {
  text-decoration: none;
  color: #2D3440;
}

.slider-pagination-button {
  position: absolute;
  border: 2px solid;
  color: #fff;
  border-radius: 50%;
  background: transparent;
  width: 38px;
  height: 38px;
}

.slider-preview {
  left: 526px;
  top: 254px;
}

.slider-nex {
  left: 853px;
  top: 252px;
}

.slider-pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 52px;
  justify-content: space-between;
}

.bullet {
  width: 12px;
  height: 12px;
  background-color: #fcfcfc;
  opacity: 0.3;
}

.slider-pagination-button-current {
  background-color: #fff;
}

.social-list {
  width: 130px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.social-link svg {
  border: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 24px;
}

.slider .social-items {
  margin-left: 16px;
  margin-right: 0;
}

.social-items {
  margin-right: 11px;
}


.wrapper {
  display: flex;
  justify-content: space-between;
}

/* free-gifts section */
.free-gifts {
  width: 100%;
  margin-bottom: 81px;
}

.free-gifts-title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin-bottom: 53px;
}

.free-gift-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 30px;
}

.free-gift-item {
  width: 570px;
  display: flex;
  background-color: #ff7799;
  border-radius: 16px;
  padding: 36px 229px 32px 36px;
}

.free-gift-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.raspberry {
  background-image: url("..//images/raspberry.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.marshmallow {
  background-image: url("..//images/marshmallowjpg.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.free-gift-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 28px;
}

.free-gift-desc {
  margin: 0;
  margin-bottom: 24px;
  width: 305px;
}

/* catalog */
.catalog {
  margin-bottom: 80px;
}

.catalog-title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  width: 588px;
  margin-bottom: 54px;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 91px 30px;
}

.catalog-item-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  position: relative;
}

.helper-white {
  width: 270px;
  background-color: red;
  height: 52px;
}

.catalog-img {
  border-radius: 50%;
  position: absolute;
  left: -36px;
  top: -50px;
}

.catalog-item {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  border-radius: 8px;
  background-color: #fcfcfc;
}

.catalog-item-title {
  align-self: center;
  margin: 0;
  color: #2D3440;
  margin-bottom: 8px;
  margin-top: 134px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-item-desc {
  width: 190px;
  margin: 2px 0 15px;
  line-height: 22px;
  text-align: center;
}

.catalog-item-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 24px;
}

.catalog-item-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.catalog-item-button {
  min-width: 32px;
  min-height: 32px;
  border-radius: 26px;
  background-color: #ff2f64;
  display: flex;
  align-items: center;
  margin-left: -7px;
}

.catalog-item-button svg {
  padding: 8px 8px;
}

/* about */
.about {
  background: url("../images/сео-bg.jpg") repeat;
  border-radius: 16px;
  padding: 22px;
  margin-bottom: 80px;
}

.about-wrapper {
  background-color: #fcfcfc;
  border-radius: 16px;
  padding: 56px 17px;
}

.about-title {
  width: 997px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin-bottom: 54px;
  text-align: center;
}

.about-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 505px 505px;
  gap: 37px 34px;
}

.about-item {
  width: 530px;
  padding-top: 3px;

}



.about-item-desc {
  position: relative;
  margin: 0;
  padding-left: 88px;
}

.about-item::before {
  position: absolute;
  background: url("../images/cow.svg");
  content: "";
  width: 50px;
}

.new-mail-wrapper {
  display: flex;
  column-gap: 30px;
  margin-bottom: 80px;
}

/* newsletter */
.newsletter {
  width: 570px;
  background: #fff url("../images/news.jpg") no-repeat;
  border-radius: 16px;
  padding-left: 32px;
  padding-top: 33px;
  padding-bottom: 68px;
}

.news-link {
  text-decoration: none;
  color: inherit;
}

/*переполнение??? */
.news-title {
  width: 303px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding-top: 13px;
}

.news-text {
  width: 200px;
  margin: 0;
  line-height: 20px;
}

/* mailing */
.mailing {
  width: 570px;
  border-radius: 16px;
  background: url("../images/subscription.jpg") repeat;
  padding: 6px;
}

.mailing-wrapper-white {
  background: #ffffff;
  border-radius: 16px;
  padding: 26px;
  box-sizing: border-box;
  height: 100%;
}

.mailing-text {
  margin: 2px 0 42px 0;
  width: 506px;
}

.mailing-form {
  width: 506px;
  display: flex;
  justify-content: space-between;
}

.button-red {
  display: block;
  text-decoration: none;
  color: #fcfcfc;
  padding: 12px 32px;
  background: #ff2f64;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.input-mail {
  line-height: 20px;
  color: #b9b9b9;
  padding: 14px;
  padding-right: 160px;
  padding-left: 16px;
  border: #b9b9b9 1px solid;
}

::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
}

/* delivery */
.delivery {
  background: #f1f1f3 url("../images/delivery.jpg") no-repeat;
  display: flex;
  padding: 0 64px 64px 61px;
  border-radius: 16px;
  margin-bottom: 80px;
}

.delivery-form-input-wrapper {
  display: grid;
  grid-template-columns: 117px 287px;
  column-gap: 16px;
  row-gap: 20px;
  border-radius: 8px;
}

.delivery-about {
  width: 500px;
  margin-right: 63px;
  margin-top: 130px;
  padding: 38px;
}

.delivery-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  width: 365px;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-bottom: 24px;
}

.delivery-text {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  width: 372px;
}

.delivery-form {
  background-color: #fcfcfc;
  width: 500px;
  margin-top: 64px;
  padding: 40px 40px 37px;
}

/* ???????? */
.delivery-form .button-red {
  grid-column: 1/-1;
  justify-self: center;
  margin-top: 8px;
}

.delivery-form input {
  padding: 15px 16px;
  display: block;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}

.delivery-form label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  padding-top: 11px;
}

.delivery-form-date {
  display: flex;
  flex-direction: column;
}

.delivery-form-text {
  margin: 0;
  grid-column: 1/-1;
}

.delivery-form-tel {
  display: flex;
  flex-direction: column;
}

.delivery-form-address {
  display: flex;
  flex-direction: column;
  grid-column: 1/-1;
}

/* ????? */
.delivery-form-address label {
  padding-top: 2px;
}

.delivery-data {
  display: block;
}

/* contact */
.contact {
  background: #e4c1c5 url("../images/feedback.jpg") no-repeat;
  border-radius: 16px;
  padding: 64px 0 64px 64px;
}

.contact-wrapper {
  background-color: #fcfcfc;
  width: 343px;
  padding: 40px;
  box-sizing: border-box;
}

.contact-text {
  margin: 0;
  padding: 0;
  color: #565C66;
  margin-bottom: 12px;
}

.contact-address {
  margin: 0 0 24px;
}

.contact-button {
  padding: 12px 28px;
}

.contact-address {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
}

.contact-tel {
  margin: 0 0 10px;
}

.tel {
  text-decoration: none;
  color: rgb(45, 52, 64);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.contact-time {
  color: #565C66;
  margin: 0;
  margin-bottom: 26px;
  font-size: 14px;
  line-height: 20px;
}

/* footer */
.main-footer {
  display: grid;
  grid-template-columns: 367px 436px 368px;
  row-gap: 10px;
  padding-top: 46px;
}

.footer-documents {
  width: 332px;
}

.footer-documents-list {
  list-style: none;
}

.footer-documents-link {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  line-height: 20px;
}

.about-text {
  font-size: 12px;
  line-height: 16px;
}

.footer-documents-list {
  display: grid;
  grid-template-columns: 127px 183px;
  column-gap: 24px;
  row-gap: 8px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

.footer-documents-list .current {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.footer-documents-link {
  font-size: 14px;
  line-height: 20px;
}

.footer-about {
  /* justify-items: center; */
  justify-self: end;
  margin-bottom: 32px;
}

/* *************************** */
.bread-crumbs-list {
  width: 400px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 28px;
}

.bread-crumbs-link {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.bread-crumbs-item .current {
  font-weight: 700;
  text-decoration: underline;
}

.bread-crumbs-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin-top: 40px;
}

/* filter  */
.filter {
  margin-bottom: 95px;
}

.catalog-filter {
  width: 830px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 44px;
}

.catalog-filter-list {
  list-style: none;
  display: flex;
}

.btn-range-handle {
  width: 16px;
  height: 16px;
  background: #2D3440;
  border-radius: 50%;
  border: 1px solid #2D3440;
  ;
}

.catalog-filter-list-checkbox,
.catalog-filter-list-radio,
.select-control,
.buttons-range {
  background-color: rgba(252, 252, 252, 0.3);
  margin: 0;
  list-style: none;
  display: flex;
  padding: 9px 24px;
  gap: 16px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}

.pink-button {
  padding: 8px 53px;
  color: #2d3440;
  background: rgba(252, 252, 252, 0.3);
  /* basic/extra-light */

  border: 2px solid #fcfcfc;
  border-radius: 20px;
}

/* catalog-pagination */
.pagination-wrapper {
  display: flex;
  margin-top: 57px;
}

.pagination-catalog-list {
  width: 260px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
  column-gap: 8px;
}

.pagination-catalog-item .pagination-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.catalog-pagination-current {
  display: block;
  width: 24px;
  height: 24px;
  background-color: #FCFCFC;
  border-radius: 50%;
  text-align: center center;
}

.pagination-show-more {
  margin-left: auto
}

.catalog-pagination-prev {
  display: block;
  background-image: url("../images/arrow-left-catalog.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
}

.catalog-pagination-next {
  display: block;
  background-image: url("../images/arrow-right-catalog.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
}

.catalog-list {}

.test {
  background-color: red;
  width: 300px;
  margin: 10px;
  padding: 10px;
}
